body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.main-container2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #1A1851;
}

.left-container2 {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid white;
}

.right-container2 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid white;
    height: 100%;
    overflow-y: auto;
    max-height: 90vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(4, 1fr); /* Adjust rows to create enough space */
    height: 100%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #1A1851;
    text-align: center;
    color: #FCB315;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.box:hover, .logout-button:hover, .generate-record-button:hover {
    color: black;
    background-color: #FCB315;
}

.visitor-box {
    grid-column: 1 / -1; /* Span all columns */
    grid-row: 4;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #1A1851;
    text-align: center;
    color: #FCB315;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.course-list {
    padding: 10px;
    background-color: #1A1851;
    color: #FCB315;
    margin: 20px 0 30px;
}

.course-list h3 {
    margin: 0 0 10px;
    font-size: 35px;
    text-align: center;
}

.course-list ul {
    list-style-type: none;
    padding: 0;
}

.course-list li {
    margin: 3px 0;
    font-size: 19px;
    line-height: 2.5;
}

h2 {
    color: #FCB315;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.logs-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1A1851;
    color: #FCB315;
    font-family: 'Poppins', sans-serif;
}

.logs-table th, .logs-table td {
    padding: 12px;
    border: 1px solid #FCB315;
    text-align: left;
    font-size: 18px;
}

.logs-table th {
    background-color: #292759;
    font-weight: 700;
}

/* .logs-table tr:hover {
    background-color: #FCB315;
    color: #1A1851;
} */

.logout-button, .generate-record-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #FCB315;
    background-color: #1A1851;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.logout-button {
    position: absolute;
    top: 15px;
    right: 30px;
}

.generate-record-button {
    position: absolute;
    bottom: 10px;
    right: 30px;
}
